@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,regular,600&display=swap");

:root {
	--color-text: #d57a34;
	--color-selected-text: #e3e4e6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Work Sans", sans-serif;
	background-color: #010208;
	color: azure;
}

.container {
	max-width: 1245px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	padding: 25px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: #010208;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	text-decoration: none;
}

.logo__text {
	background: linear-gradient(
		99.05deg,
		var(--color-text) 0.07%,
		#c54b8c 106.32%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-size: 25px;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	gap: 32px;
	transition: all 0.2s;
}

.menu__list.active {
	transform: translateX(0);
}

.menu__link:hover {
	background: linear-gradient(
		99.05deg,
		var(--color-text) 0.07%,
		#c54b8c 106.32%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.menu__link:hover::before {
	opacity: 1;
	visibility: visible;
}

.menu__link {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--color-selected-text);
	text-decoration: none;
	position: relative;
}

.menu__link::before {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 50%;
	background-color: var(--color-selected-text);
	width: 10px;
	height: 5px;
	border-radius: 10px;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
}
.menu__icon {
	display: none;
	width: 30px;
	height: 18px;
	position: relative;
	z-index: 100;
	cursor: pointer;
}

.menu__icon span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: calc(50% - 1px);
	background: #fff;
	transition: all 0.2s;
}

.menu__icon span:first-child {
	top: 0;
}

.menu__icon span:last-child {
	top: auto;
	bottom: 0;
}

.menu__icon.active span {
	transform: scale(0);
}

.menu__icon.active span:first-child {
	transform: rotate(-45deg);
	top: calc(50% - 1px);
}

.menu__icon.active span:last-child {
	transform: rotate(45deg);
	bottom: calc(50% - 1px);
}

.me {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 400px;
}

.me__title {
	font-weight: 300;
	font-size: 56px;
	line-height: 150%;
	text-align: center;
	letter-spacing: -0.02em;
	color: rgba(227, 228, 230, 0.55);
}

.me__title span {
	font-weight: 600;
	color: var(--color-selected-text);
}

.me__arrow {
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	background: transparent url("../assets/Arrow.svg") center center no-repeat;
	position: absolute;
	left: 50%;
	bottom: 42px;
	transform: translateX(-50%);
	cursor: pointer;
}

.works {
	padding: 80px 0 110px;
}

.works__title {
	font-weight: 300;
	font-size: 40px;
	color: rgba(227, 228, 230, 0.55);
}

.works__title span {
	font-weight: 600;
	color: var(--color-selected-text);
}

.works__body {
	margin-top: 95px;
}

.card {
	display: flex;
	gap: 32px;
}

.card:not(:last-child) {
	margin-bottom: 95px;
}

.card-right {
	flex-direction: row-reverse;
}

.card__img {
	/* border-radius: 16px; */
	overflow: hidden;
	flex: 0 0 50%;
}

.card__img img {
	max-width: 100%;
	border-radius: 15px;
	/* min-height: 300px; */
}

.card__info {
	flex: 1 1 auto;
	align-self: flex-end;
}

.card__tag {
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	color: var(--color-selected-text);
	margin-bottom: 16px;
}

.card__text {
	font-weight: 300;
	font-size: 32px;
	line-height: 150%;
	color: rgba(227, 228, 230, 0.55);
	margin-bottom: 24px;
}

.card__text span {
	color: var(--color-selected-text);
	font-weight: 600;
}

.card__category {
	font-weight: 300;
	font-size: 18px;
	color: var(--color-selected-text);
}

.card__button {
	display: inline-block;
	margin-top: 32px;
	padding: 8px 48px 8px 16px;
	border: 1px solid rgba(227, 228, 230, 0.55);
	border-radius: 100px;
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	color: #e3e4e6;
	position: relative;
}

.card__button::before {
	content: "";
	width: 24px;
	height: 24px;
	position: absolute;
	display: block;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	background: transparent url("../assets/Arrow-right.png") center center
		no-repeat;
}

.card__button:hover {
	background: linear-gradient(
		99.05deg,
		#e64c2e 0.07%,
		rgb(191, 63, 131) 106.32%
	);
}

.card__button:hover::before {
	background: transparent url("../assets/Arrow-right-hovered.svg") center center
		no-repeat;
}

.about {
	padding: 75px 0;
}
.about__container {
	display: flex;
	align-items: center;
	gap: 20px;
}

.about__text {
	font-weight: 600;
	font-size: 32px;
	line-height: 150%;
	color: var(--color-selected-text);
	margin-top: 10px;
}

.about__text span {
	font-weight: 300;
	color: rgba(227, 228, 230, 0.55);
}

.about__title {
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #e3e4e6;
}

.about__gallery {
	flex: 0 0 50%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 4, 1fr;
	gap: 20px;
}

.about__img img {
	width: 100%;
	object-fit: cover;
	border-radius: 16px;
}

.about__img:nth-child(1) {
	grid-column: 1/2;
	grid-row: 2/4;
}

.about__img:nth-child(2) {
	grid-column: 2/3;
	grid-row: 1/3;
}

.about__img:nth-child(3) {
	grid-column: 2/3;
	grid-row: 3/4;
}

.footer {
	padding: 80px 0 40px;
}

.footer__container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.footer__title {
	font-weight: 600;
	font-size: 56px;
	letter-spacing: -0.02em;
	color: var(--color-selected-text);
}

.footer__title span {
	font-weight: 300;
	color: rgba(227, 228, 230, 0.55);
}

.footer__subtitle {
	font-weight: 300;
	font-size: 18px;
	color: #e3e4e6;
	margin-bottom: 60px;
	margin-top: 15px;
}

.footer__socials {
	display: flex;
	font-size: 26px;
	gap: 56px;
	cursor: pointer;
}

.footer__social i {
	color: rgba(227, 228, 230, 0.55);
	transition: all 0.7s ease;
}

.footer__social:hover i {
	background: linear-gradient(
		99.05deg,
		var(--color-text) 0.07%,
		#c54b8c 106.32%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	transform: scale(1.2);
}

.footer__social a {
	text-decoration: none;
}

@media (max-width: 992px) {
	.about__container {
		flex-direction: column;
	}
	.about__gallery {
		display: flex;
		align-items: stretch;
		justify-content: space-evenly;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.about__img img {
		height: 100%;
	}
}

@media (max-width: 768px) {
	.me__title {
		font-size: 35px;
	}
	.card {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

@media (max-width: 576px) {
	.menu__icon {
		display: block;
	}
	.menu__list {
		position: absolute;
		top: 0;
		left: 0;
		background: #010208;
		width: 100%;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transform: translateX(-100%);
	}
	.menu__link {
		font-size: 30px;
	}
	.works,
	.about {
		padding: 30px 0;
	}
	.works__title {
		font-size: 30px;
	}
	.works__body {
		margin-top: 40px;
	}
}

@media (max-width: 475px) {
	.card__text,
	.about__text {
		font-size: 25px;
		margin-top: 10px;
	}
	.card:not(:last-child) {
		margin-bottom: 50px;
	}
}

@media (max-width: 375px) {
	.me__title {
		font-size: 25px;
	}
	.footer__title {
		font-size: 35px;
	}
}
